.PatientCare {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(81deg,
      #e7f0ff 9.01%,
      rgba(232, 241, 255, 0.47) 89.11%);
  gap: 71px;
  padding: 51px;
}

.PatientCare>.container {
  width: 564px;
}

.PatientCare>.container>.subtitle {
  color: rgba(42, 168, 255, 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
}

.PatientCare>.container>.title {
  font-size: 49px;
  font-weight: 600;
  line-height: 68px;
}

.PatientCare>.container>.title>span:nth-of-type(1) {
  color: rgba(27, 61, 117, 1);
}

.PatientCare>.container>.title>span:nth-of-type(2) {
  color: rgba(42, 168, 255, 1);
}

.PatientCare>.container>.description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(119, 130, 157, 1);
}

.PatientCare>.container>.features {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 21px 0px;
  color: rgba(27, 61, 117, 1);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 480px) {
  .PatientCare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(81deg,
        #e7f0ff 9.01%,
        rgba(232, 241, 255, 0.47) 89.11%);
    gap: 11px;
    padding: 31px 0px;
  }

  .PatientCare>img {
    width: 321px;
  }

  .PatientCare>.container {
    width: 301px;
  }

  .PatientCare>.container>.subtitle {
    color: rgba(42, 168, 255, 1);
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
  }

  .PatientCare>.container>.title {
    font-size: 27px;
    font-weight: 600;
    line-height: 41px;
  }

  .PatientCare>.container>.description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(119, 130, 157, 1);
  }

  .PatientCare>.container>.features {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 11px 0px;
    color: rgba(27, 61, 117, 1);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
  }
}